2        blank lines above header
2        blank lines below header
0        blank lines at bottom of page
132      number of columns per line
5        left margin
0        right margin
60       page length
0        nonzero for line numbers
0        nonzero to use formfeed
1        output columns per page
4        tab interval
PRN      output destination
